/* This file is for your main application css. */

@import "./rules.scss";
@import "./header.scss";
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Roboto');




body{
    background: $back;
    font-family: 'Roboto', sans-serif;
}

.content {
    margin-top: 12%;
}

.card-info{
    background: $back-card;
    @extend %elto-sombreado;
    @extend %padding-regular;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    height: 20vh;
    transition: width 0.5s, height 0.5s, 0.5s;
    -moz-transition: width 0.5s, height 0.5s, 0.5s;
    z-index: 3;
    margin-bottom: 8%;
}

.card-info:hover {
    @extend %sombreado-final;
    width: 105%;
    height: 105%;
    margin-top: -3%;
    margin-left: -2%;
    z-index: 10;
    position: relative;
}

.card-info  h1 {
    font-family: 'Oswald', sans-serif;
}


