
$primary: #F50057;
$secundary: #9C27B0;
$back: #ECEFF1;
$back-card: #FFFFFF;

%sombreado-inicial {
    -webkit-box-shadow: 0px 0px 35px -1px rgba(168,168,168,0.96);
    -moz-box-shadow: 0px 0px 35px -1px rgba(168,168,168,0.96);
    box-shadow: 0px 0px 35px -1px rgba(168,168,168,0.96);
}

%sombreado-final {
    -webkit-box-shadow: 0px 0px 32px -1px rgba(92,92,92,1);
    -moz-box-shadow: 0px 0px 32px -1px rgba(92,92,92,1);
    box-shadow: 0px 0px 32px -1px rgba(92,92,92,1);
}


%elto-sombreado {
    @extend %sombreado-inicial;
}

%padding-regular {
    padding: 5%;
}