





<div class="row">
  <div class="col-12 col-md-6 col-lg-4">
    <div class="card-info">
      <h1>Tester</h1>
      <p>Texto de prueba, texto de prueba, Texto de prueba, texto de prueba, Texto de prueba, texto de prueba, Texto de prueba, texto de prueba, Texto de prueba, texto de prueba, Texto de prueba, texto de prueba, </p>
    </div>  
  </div>


  <div class="col-12 col-md-6 col-lg-4">
    <div class="card-info">
      <h1>Tester</h1>
    </div>  
  </div>


  <div class="col-12 col-md-6 col-lg-4">
    <div class="card-info">
      <h1>Tester</h1>
    </div>  
  </div>


  <div class="col-12 col-md-6 col-lg-4">
    <div class="card-info">
      <h1>Tester</h1>
      <p>Texto de prueba, texto de prueba, Texto de prueba, texto de prueba, Texto de prueba, texto de prueba, Texto de prueba, texto de prueba, Texto de prueba, texto de prueba, Texto de prueba, texto de prueba, </p>
    </div>  
  </div>


  <div class="col-12 col-md-6 col-lg-4">
    <div class="card-info">
      <h1>Tester</h1>
    </div>  
  </div>


  <div class="col-12 col-md-6 col-lg-4">
    <div class="card-info">
      <h1>Tester</h1>
      <p>Texto de prueba, texto de prueba, Texto de prueba, texto de prueba, Texto de prueba, texto de prueba, Texto de prueba, texto de prueba, Texto de prueba, texto de prueba, Texto de prueba, texto de prueba, </p>
    </div>  
  </div>


  <div class="col-12 col-md-6 col-lg-4">
    <div class="card-info">
      <h1>Tester</h1>
    </div>  
  </div>

  <div class="col-12 col-md-6 col-lg-4">
    <div class="card-info">
      <h1>Tester</h1>
      <p>Texto de prueba, texto de prueba, Texto de prueba, texto de prueba, Texto de prueba, texto de prueba, Texto de prueba, texto de prueba, Texto de prueba, texto de prueba, Texto de prueba, texto de prueba, </p>
    </div>  
  </div>


  <div class="col-12 col-md-6 col-lg-4">
    <div class="card-info">
      <h1>Tester</h1>
    </div>  
  </div>


  <div class="col-12 col-md-6 col-lg-4">
    <div class="card-info">
      <h1>Tester</h1>
    </div>  
  </div>


  <div class="col-12 col-md-6 col-lg-4">
    <div class="card-info">
      <h1>Tester</h1>
      <p>Texto de prueba, texto de prueba, Texto de prueba, texto de prueba, Texto de prueba, texto de prueba, Texto de prueba, texto de prueba, Texto de prueba, texto de prueba, Texto de prueba, texto de prueba, </p>
    </div>  
  </div>


  <div class="col-12 col-md-6 col-lg-4">
    <div class="card-info">
      <h1>Tester</h1>
    </div>  
  </div>


  <div class="col-12 col-md-6 col-lg-4">
    <div class="card-info">
      <h1>Tester</h1>
      <p>Texto de prueba, texto de prueba, Texto de prueba, texto de prueba, Texto de prueba, texto de prueba, Texto de prueba, texto de prueba, Texto de prueba, texto de prueba, Texto de prueba, texto de prueba, </p>
    </div>  
  </div>


  <div class="col-12 col-md-6 col-lg-4">
    <div class="card-info">
      <h1>Tester</h1>
    </div>  
  </div>
</div>